.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #11171c;
}

.container {
  max-width: 95%;
  color: white;
}

@media (min-width: 600px) {
  .container {
    max-width: 70%;
  }
}